html, body, section, div {
	margin: 0;
	height: 100vh;
  }
  
  body {
	color: #fff;
	font-family: sans-serif;
	font-size: 1.25rem;
	line-height: 150%;
	text-shadow: 0 2px 2px #b6701e;
  }
  
  article {
	position: relative;
	top: 50%;
	text-align: center;
	transform: translate(0, -50%);
	padding: 1rem;
  }
  
  h2 {
	font-size: 4.75rem;
	margin: 0 0 0.75rem 0;
  }
  
  .container {
	display: grid;
  }
  
  .left-half {
	background:url("bilder/20200325_131309.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	grid-column: 1;
  }
  
  .right-half {
	background:url("bilder/francesco-ungaro-DlyYo9QQEg0-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	grid-column: 2;
  }
  @media screen and (max-width: 970px)
  {
	.ssd{
		  font-size: 20px;
	  }

  
  }