h1{
margin-bottom: 10px;
margin-left: 10px
}
table{
  margin-left: 10px;
}
.mini{
  border-style: solid;
  height: 220px;
  width: 200px;
}

input[type="button"]
{
width:100%
}

input[type="text"]
{

width:100%
}
